@font-face {
    font-family: 'Roboto bold';
    src: url('font/Roboto-Bold.eot');
    src: url('font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/Roboto-Bold.woff2') format('woff2'),
        url('font/Roboto-Bold.woff') format('woff'),
        url('font/Roboto-Bold.ttf') format('truetype'),
        url('font/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shrikhand';
    src: url('font/Shrikhand-Regular.eot');
    src: url('font/Shrikhand-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Shrikhand-Regular.woff2') format('woff2'),
        url('font/Shrikhand-Regular.woff') format('woff'),
        url('font/Shrikhand-Regular.ttf') format('truetype'),
        url('font/Shrikhand-Regular.svg#Shrikhand-Regular') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto medium';
    src: url('font/Roboto-Medium.eot');
    src: url('font/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/Roboto-Medium.woff2') format('woff2'),
        url('font/Roboto-Medium.woff') format('woff'),
        url('font/Roboto-Medium.ttf') format('truetype'),
        url('font/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto regular';
    src: url('font/Roboto-Regular.eot');
    src: url('font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Roboto-Regular.woff2') format('woff2'),
        url('font/Roboto-Regular.woff') format('woff'),
        url('font/Roboto-Regular.ttf') format('truetype'),
        url('font/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('font/RobotoCondensed-Light.eot');
    src: url('font/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('font/RobotoCondensed-Light.woff2') format('woff2'),
        url('font/RobotoCondensed-Light.woff') format('woff'),
        url('font/RobotoCondensed-Light.ttf') format('truetype'),
        url('font/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* FONTS */
body
{
    padding: 0 ;
    margin: 0;

}

.section
{
    height: 100%;
    width: 100%;
    font-size: 30px;
    font-family: 'Shrikhand';
    position: fixed;
    z-index:50;
    
    background: linear-gradient(40deg, #ff79da,#9356dc);
    animation: open 3s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader 
{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 15px;
}
.loader_circles
{
border-radius: 50px;
border: 3px solid transparent;
border-top-color: #99e2d0;
animation: rotate 1s linear 0s infinite;
}
.loader_circles:after
{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border: 3px solid transparent;
    border-top-color: #99e2d0;
    opacity: 0.8;
    border-radius: 50px;
    animation: rotate 5s linear 0s infinite;

}
.loader_circles::before
{
    content: '';
    position: absolute;
    top: 12px;
    left: 12px;
    bottom: 12px;
    right: 12px;
    border: 3px solid transparent;
    border-top-color:#99e2d0;
    opacity: 0.5;
    border-radius: 50px;
    animation: rotate 10s linear 0s ;

}

@keyframes rotate
{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

@keyframes open
{
    0% { opacity: 1;}
    50% { opacity: 1;}
    99% { width: 100%;
        height: 100%;}
    100% { opacity: 0;
        height: 0%;
        width: 0%;}
}

/* FIN DU LOADER SPINNER */

.logo
{
    display: flex;
    justify-content: center;
    align-content: center;   
}
.logo_index
{
    width: 45%;
    margin: 10px 0 10px 0;
}
.logo-head
{
    font-family: 'Shrikhand';
    font-size: 1.5em;
    text-align: center;
}
.ville
{
    height: 40px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    font-family: 'Roboto bold';
}
.icone_ville
{
    margin-right: 10px;
    margin-top: 10px;
}
.text_ville
{
    margin: 0;
    margin-top: 10px;
}

.introduction
{
    background-color: #f6f6f6;
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.intro_index
{
    width: 100%;
    font-size: 1.7em;
    margin: 0;
    font-family: 'Roboto bold';
    text-align: center;
}
.introduction_index
{
    width: 100%;
    font-family: 'Roboto regular';
    font-size: 1.1rem;
    text-align: center; 
    margin-top: 10px;
}
.navigation_restaurant
{
    width: 65%;
    margin-top: 10px;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 35px;
}
.icone_foot_1
{
    margin-right: 13px;
}
.text_ending
{
    text-align: justify;
    position: relative;
    right: 100px;
}

.text_navigation
{
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Roboto regular';
    font-size: 1rem;
    
}

/* FIN du HEADER */

.introduction_fonctionnement
{
    font-family: 'Roboto bold';
    font-size: 1.3rem;
    margin-left: 5px;
}
.fonctionnement
{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.choix
{
    width: 90%;
    height: 70px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px #f2f2f2;
}
.choix:hover
{
    background-color: rgba(255, 121, 218, 0.1);
    box-shadow: 5px 5px 5px #e9e9e9;
    
}
.choix:hover >.icone_choix
{
    color:#9356DC;
}
.number
{
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 50px;
    background-color: #9356dc;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    right: 10px;
    
}
.icone_choix
{
    color: #7e7e7e;
    font-size: 1.2em;
    margin-left: 20px;
  
}
.text_fonctionnement
{
    width: 70%;
    text-align: center;
    font-family: 'Roboto bold';
    font-size: 1rem;
    margin-right: 30px;

 
}
.introduction_section
{
    padding-top: 50px;
    margin-left: 15px;
    font-family: 'robotoblack';
    font-size: 1.3rem;
}

/* FIN de la NAVIGATION */
h4
{
    padding-top: 50px;
    margin-left: 15px;
    font-family: 'Roboto bold';
    font-size: 1.3em;
    
}
.item_restaurants
{
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
}

.link_menu
{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
}
.Restaurant
{
    width: 100%;
    
}
.item_restaurant
{
    width: 90%;
    height: 240px;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 20px;
}
.img_main
{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.item_nom
{
   margin-left: 15px;
   margin-top: 8px;
}
.nom_restaurant
{
    margin: 0;
    font-family: 'Roboto bold';
    font-size: 1.1rem;
}
.ville_restaurant
{
    margin: 0;
    font-family: 'roboto regular';
    font-size: 1rem;
}
.content_icone
{
    height: 50px;
    width: 50px;
    position: relative;
    left: 70%;
    bottom: 55px;
}
.icon
{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
}

.icon_filled
{
    position: absolute;
    opacity: 0;
    font-size: 27px; 
    top: 24px; 
    left: 24px;

}
.content_icone:hover > .icon_filled
{
    opacity: 1;
    transition: 1s;
    background: -webkit-linear-gradient(40deg, #ff79da,#9356dc);
    background: linear-gradient(40deg, #ff79da,#9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.content_icone.click> .icon_filled{
    opacity: 1;
    transition: 1s;
    background: -webkit-linear-gradient(40deg, #ff79da,#9356dc);
    background: linear-gradient(40deg, #ff79da,#9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

/* FIN de la SECTION debut du FOOTER */

.footer
{
    width: auto;
    background-color: black;
    color: white;
    padding: 15px;

}
.logo_ending
{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-family: 'Shrikhand';
}
.icon_foot
{
    color: white;
    margin-right: 10px;
}
.icon_foot_2
{
    margin-right: 5px;
}
.text_footer
{
    line-height: 25px;
    font-family: 'Roboto medium';
    margin-left: 15px;
}
.font_footer
{
    font-family: 'Roboto regular';
}
.contact
{
    color: white;
    text-decoration: none;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! FIN DU CSS DE L'INDEX !!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*  CSS pour les autres pages */

.logo-head
{
    margin: 10px;  
}
.icon_head
{
    font-size: 0.7em;
    position: relative;
    right: 15%;
    color: black;
}
.img_page
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.content_menu
{
    width: 100%;
    background-color: #f2f2f2; 
    padding: 30px 0 0 0;
    border-radius: 50px 50px 0 0;
    position: relative;
    z-index: 2;
    margin-top: 220px;
    
}
.content_name_restaurant
{
    height: 50px;
}
.name_restaurant
{
    font-size: 1.5em;
    font-family: 'Shrikhand';
    margin: 0 0 0 25px;
}

.type_plate
{
    width: 40px;
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #99e2d0;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    
}
.content_plate
{
    width: 95%;
    height: 80px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    overflow: hidden;  
    margin: auto;
    margin-bottom: 15px;    
    box-shadow: 5px 5px 5px #e0dfdf;
}
.plates
{
    height: 80px;
    width: auto;
    left: 0;
    position: absolute;
    transition: 2s;
    display: flex;
    flex-flow: column;
    align-content: center;
}
.name_plate
{
    font-size: 1.1em;
    font-family: 'Roboto regular';
    margin: 15px 0 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    transition: 3s;    
}
.suite_plate
{
    width: 300px;
    margin: 5px 0 15px 10px;
    font-size: 1em;
    font-family: 'Roboto Condensed';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    transition: 1s;
}  
.content_plate:hover > .plates >.name_plate
{
     width: 80%;
 
}
.content_plate:hover > .plates >.suite_plate
{
     width: 80%;
}
.price
{
    width: 50px;
    text-align: right;
    position: relative;
    top: 55%;
    left: 80%;
    font-family: 'Roboto regular';
    font-size: 1em;
}
.content_plate:hover > .price
{
    transform: translateX(-130%);
    transition: 1.1s;
}
.icon_validate
{
    color: white;
    font-size: 30px;
    transform: rotate(0deg);
    transition: 1.2s;
}
.animation
{
    height: 80px;
    width: 80px;
    background-color: #99e2d0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_plate:hover > .animation
{
    transform: translateX(0%);
}
.content_plate:hover > .animation > .icon_validate
{
    transform: rotate(360deg);
}
/*  Deuxième partie de la section bouton de commande */

.content_button
{
    display: flex;
    justify-content: center;
}
.command
{   
    width: 50%;
    border-radius: 35px;
    margin: 40px 0 50px ;
    padding: 15px;
    color: white;
    border: none;
    background: -webkit-linear-gradient( #ff79da,#9356dc);
}

/*  ANIMATIONS  Menu*/


@keyframes slideDown
{
    from {
        transform: translateY(70px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animation_slide
{
    animation: slideDown 1.5s;
}
.animation_slide_1
{
    animation: slideDown 2s;
}
.animation_slide_2
{
    animation: slideDown 2.5s;
}
.animation_slide_3
{
    animation: slideDown 3s;
}












/* TEST ANIMATION OVERFLOW MACHIN       */
/*                                      */

